VEGA_SQL_SERVER=YOUR_SQL_SERVER
VEGA_SQL_DATABASE=YOUR_DATABASE
VEGA_SQL_USER=YOUR_READONLY_USER
VEGA_SQL_PASSWORD=YOUR_READONLY_PASSWORD
VEGA_SQL_ENCRYPT=false
VEGA_SQL_TRUST_SERVER_CERTIFICATE=true
VEGA_SQL_TIMEOUT_MS=3000
VEGA_READONLY_LIMIT=20
